<div class="container-fluid">
    <div *ngIf="loading">
        <div style="margin-top: 15%;" class="text-center align-middle">
            <img src="assets/images/logo.png" alt="">
            <i *ngIf="!error" class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>

            <br>
            <h2 *ngIf="!error">
                Your Presentation is Loading
            </h2>
            <div *ngIf="error" class="alert alert-danger text-center">
                An Error Has Occurred. Please Refresh This Page
            </div>
        </div>

    </div>
    <div *ngIf="!loading">
        <div class="row" style="padding: 0.5em;border-bottom: solid 1px; margin-bottom: 10px;">
            <div class="col-6">
                <a href="/">
                    <img src="assets/images/logo-1.png" alt="" style="height: 3em;">
                </a>
            </div>
            <div class="col-6">
                <button *ngIf="!saving" (click)="saveSlides()" class="btn btn-outline-primary"
                        style="margin-right: 20px">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button *ngIf="saving" class="btn btn-outline-primary disabled" style="margin-right: 20px">
                    <i class="fa fa-spinner fa-pulse"></i>
                </button>
                <button (click)="startPresentation(true, '')" class="btn btn-outline-primary"
                        style="margin-right: 20px" *ngIf="!iscollaborator">
                    <i class="fa fa-desktop"></i>
                    Start Presentation
                </button>

                <button class="btn btn-outline-primary" style="margin-right: 20px" data-toggle="modal"
                        data-target="#sharepresentationmodal" *ngIf="!iscollaborator">
                    <i class="fa fa-share"></i>
                    Share
                </button>

                <!-- Modal -->
                <div class="modal fade" id="sharepresentationmodal" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" *ngIf="!iscollaborator">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sharepresentationModalLabel1">Share Presentation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">Select the user name:
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <l-select2 [(ngModel)]="selectedUser" [disabled]="false"
                                                               [options]="getUsersOptions"
                                                               (valueChange)="valueChange($event)"></l-select2>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-12">
                                                    <button class="btn btn-info btn-block" (click)="addCollaborator()"
                                                            *ngIf="selectedUser">+ Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Colllaborators: </h5>
                                            <table class="table">
                                                <tr>
                                                    <th>username</th>
                                                    <th>action</th>
                                                </tr>
                                                <tbody *ngFor="let collaborator of collaborators; let i = index">
                                                <tr>
                                                    <th>{{collaborator.username}}</th>
                                                    <th>
                                                        <button class="btn btn-danger"
                                                                (click)="removeCollaborator(collaborator.user_id, i)">
                                                            delete
                                                        </button>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button *ngIf="!presentation_deleting && !iscollaborator" class="btn btn-outline-danger"
                        data-toggle="modal"
                        data-target="#deletepresentationmodal">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>

                <button *ngIf="presentation_deleting" class="btn btn-outline-danger disabled">
                    <i class="fa fa-spin fa-spinner"></i>
                    Deleting
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deletepresentationmodal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" *ngIf="!iscollaborator">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Warning !</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are You Sure You Want To Delete This Presentation?
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-danger" data-dismiss="modal"
                                        (click)="deletePresentation()">
                                    <i class="fa fa-trash"></i>
                                    Yes Delete
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"> No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<button (click)="startPresentation(false, 'secret')">private present</button>-->

            </div>
        </div>
        <div class="row" *ngIf="presentation_created">
            <div class="col-12">
                <div class="alert alert-info">
                    Your presentation is ready. <br> Share this link with your audience:
                    <a href="/presentation/view/{{message}}" target="_blank">http://localhost:4200/presentation/view/{{message}}</a>
                    <br>

                    <a [routerLink]="['/presentation/'+message]" target="_blank" style="color: white">
                        <button class="btn btn-primary">
                            Go to presentation
                        </button>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="min-height: 25em; max-height: 40em; overflow-y: scroll; overflow-x: hidden">
                <div *ngFor="let slide of slides; let i = index">

                    <div (click)="isSlideFree(slide, i)" class="presentation-thumbnail km-selected"
                         *ngIf="i == current_index">
                        <div class="presentation-thumbnail-image">
                            Slide {{ i + 1}}
                        </div>
                    </div>

                    <div (click)="isSlideFree(slide, i)" class="presentation-thumbnail" *ngIf="i != current_index">
                        <div class="presentation-thumbnail-image">
                            Slide {{ i + 1}}
                        </div>
                    </div>
                    <!--<textarea style="display: block;" [(ngModel)]="slides[i].content">{{slide.content}}</textarea>-->
                </div>
                <div>
                    <button *ngIf="!slide_creating" (click)="newSlide()" class="btn btn-block btn-primary">
                        <i class="fa fa-plus-circle"></i>
                        new slide
                    </button>
                    <button *ngIf="slide_creating" class="btn btn-outline-primary btn-block disabled">
                        <i class="fa fa-spin fa-spinner"></i>
                        Creating
                    </button>
                </div>
            </div>
            <div class="col-8">
                <div *ngIf="current_slide != null" style="height: 100%;">
                    <div *ngIf="!editorInitialised" style="margin-top: 15%;" class="text-center align-middle">
                        <img src="assets/images/logo.png" alt="">
                        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>

                        <br>
                        <h2>Loading Editor... </h2>
                    </div>

                    <editor [(ngModel)]="current_content" apiKey="322jkzr836cni3de8e7i7ct35g21gro5w3qxua7e5tpi977y"
                            [init]="{plugins: ['lists','link'], height : '100%', toolbar:'undo redo | fontsizeselect fontselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent' }"
                            (onInit)="removeLoader()"
                            style="width: 100%; height: 100%"></editor>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <h5 class="card-header">Slide Options</h5>
                    <div class="card-body">
                        <button *ngIf="!slide_deleting" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#deleteslidemodal">
                            <i class="fa fa-trash"></i>
                            Delete Slide
                        </button>

                        <button *ngIf="slide_deleting" class="btn btn-outline-danger disabled">
                            <i class="fa fa-spin fa-spinner"></i>
                            Deleting
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteslidemodal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning !</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Delete This Slide?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-danger" data-dismiss="modal"
                                                (click)="deleteSlide()">
                                            <i class="fa fa-trash"></i>
                                            Yes Delete
                                        </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"> No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card" style="margin-top: 10px;">
                    <h5 class="card-header">Chat</h5>
                    <div class="card-body">
                        Chat History goes here


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 50px;" *ngIf="!loading">
    <app-footer></app-footer>
</div>

<!--
<div *ngFor="let slide of slides; let i = index">
    <div (click)="setContent(slide, i)"> Slide {{ slide.id }}</div>
    <textarea style="display: block;" [(ngModel)]="slides[i].content">{{slide.content}}</textarea>
</div>-->
