
<div *ngIf="loading">
    <div style="margin-top: 15%;" class="text-center align-middle">
        <img src="assets/images/logo.png" alt="">
        <i *ngIf="finding_user" class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>

        <br>
        <h2 *ngIf="finding_user">
            Your Dashboard is Loading
        </h2>
        <div *ngIf="!finding_user" class="alert alert-danger text-center">
            An Error Has Occurred. Please Refresh This Page
        </div>
    </div>
</div>

<div *ngIf="!loading">
    <div class="container">
        <app-navbar></app-navbar>
    </div>

    Here are your presentations <br>
    <div *ngFor="let presentation of presentations">
        <div>
            <a href="" routerLink="/presentation/edit/{{presentation.id}}">{{presentation.title}}</a>
        </div>
    </div>

    <div>
        <input type="text" [(ngModel)]="name"> <br>
        <button (click)="newPresentation()">Create a new presentation</button>
    </div>
    <div *ngIf="error" class="alert alert-danger"> Please Enter a presentation name</div>
    <div>
        <h3>Here are your  collaborations</h3>
        <div *ngFor="let collaboration of collaborations">
            <div>
                <a href="" routerLink="/collaboration/{{collaboration.id}}">{{collaboration.title}}</a>
            </div>
        </div>
    </div>
    <div style="margin-top: 50px;">
        <app-footer></app-footer>
    </div>
</div>