<app-navbar></app-navbar>
<div class="error">
  <div class="container-floud">
    <div class="col-xs-12 ground-color text-center">
      <div class="container-error-404">
        <div class="clip">
          <div class="shadow"><span class="digit thirdDigit">4</span></div>
        </div>
        <div class="clip">
          <div class="shadow"><span class="digit secondDigit">0</span></div>
        </div>
        <div class="clip">
          <div class="shadow"><span class="digit firstDigit">4</span></div>
        </div>
        <div class="msg">OH!<span class="triangle"></span></div>
      </div>
      <h2 class="h1">Sorry! Page not found or may have been removed</h2>
      <div>
        You may see this page because:
        <br>
        1. The presentation you are watching was deleted
        <br>
        2. The presentation you were editing was removed or you no lnger have permission to edit.
        <br>
        3. The page was not found.
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 50px;">
  <app-footer></app-footer>
</div>
